@use "../base/__variables.scss" as *;

@mixin mainStyle {
    background-color: $backgroundColor;
    height: 100%;
    width: 100%;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}